*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
body{
    background: rgb(90,33,176);
background: linear-gradient(0deg, rgba(90,33,176,1) 0%, rgba(253,45,67,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 200px;
    padding: 20px;
    margin: auto;
    border: 2px solid #fff;

}
a:hover{
    box-shadow: 0 0 20px #fff;
    transform: scale(1.1);
}