*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
body{
    background: rgb(90,33,176);
    background: linear-gradient(0deg, rgba(90,33,176,1) 0%, rgba(253,45,67,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-family: 'Noto Sans Mono', monospace;
    margin: auto;
    font-size: 40px;
}
header{
    width: 100%;
    height: 175px;
    background: transparent;
    text-align: center;
    border: 1px solid transparent;
    margin: 20px auto;
    color: white;
}
img{
    height: 20%;
    width: 20%;
    display: block;
    margin: auto;
    font-size: 30px;
    
}
#a{
    width: 100%;
    height: 600px;
    background: transparent;
}
footer{
    width: 100%;
    height: 100px;
    background: transparent;
    padding: 15px;
    text-align: center;
    border: 1px solid transparent;
    margin: 20px auto;
    color: white;
    font-size: 15px;
}
nav{
    width: 250px;
    height: 100%;
    background: transparent pink;
    padding: 15px;
    text-align: center;
    border: 1px solid #fff;
    margin: 20px auto;
    float: left;
}
section{
    width: 40%;
    height: 40%;
    background: white;
    padding: 15px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    margin: 20px auto;
    float: center;
    box-shadow: 5px 5px 20px rgb(233, 58, 180);
}
article{
    width: 50%;
    height: 40%;
    background: transparent pink;
    padding: 15px;
    text-align: center;
    border: 1px solid #fff;
    margin: 20px auto;
    float: left;
    
    
}
aside{
    width: 25%;
    height: 25%;
    background: transparent pink;
    padding: 15px;
    text-align: center;
    border: 1px solid #fff;
    margin: 20px auto;
    float: right;
    display: block;
    
}
input{
    display: block;
    width: 90%;
    height: 50px;
    margin: 20 px auto;
    border: 5px solid white;
    border-radius: 20px;
    float: center;
}
input:focus{
    box-shadow: 0 0 15px purple;
}
input::placeholder{
    padding-left: 15px;
    font-size: 20px;
    opacity: 0.5;
}
div{
    font-size: 30px;
}
button{
    width: 150px;
    height: 45px;
    margin: 30px;
    border: none;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
}
.claro{
    color: black;
    opacity: 0.5;
}
.mover{
    margin-top: 30px;
}
.btn-log{
    background: rgb(167, 160, 160);
}
.btn-face{
    background: skyblue;
}
.btn-git{
    background: black;
    color: #fff;
}

button:hover{
        box-shadow: 0 0 20px rgb(158, 156, 156);
        transform: scale(1.1);
    
}